
        /* Custom Variables */
        
        
        :root{
            --bg-color: rgba(2, 87, 8, 0.144);
        }
        *{
            font-family: 'Roboto', sans-serif;
        }
        
        .main-section{
            background-color: var(--bg-color);
        }
        
        .top{
            animation-name: backgrounds;
            animation-delay: 0s;
            animation-duration: 6s;
            animation-iteration-count: infinite;
            animation-direction: alternate-reverse;
            background-position: center;
            background-size: cover;
            min-height: 600px; 
            width: 100%;
            background-repeat: no-repeat;
            background-attachment: scroll;
        }
        .top .inner{
            background-color: rgba(7, 7, 7, 0.137);
            min-height: 600px;
            padding: 30px 0;
        }
        .top .container{
            width: 80%;
            padding-top: 100px;
            margin: 0 10%;
            align-content: center;
        }
        .top .container .solutions{
            animation: slide_up 1s ease;
            margin: 30px 0;
            color: whitesmoke;
            width: 100%;
        }
        .top .container .building{
            animation: slide_up 1.8s ease;
            margin: 30px 0;
            font-size: 70px;
            font-family: 'Coda Caption', Courier, monospace;
            width: 100%;
        }
        .top .container .paragraph{
            width: 60%;
            margin:30px 20%;
            animation: slide_up 2.5s ease;
            margin: 30px 0;
            width: 100%;
        }
        .top span{
            color: white;
            font-size: 40px;
            text-decoration: underline 2px;
        }
        .jumbotron{
            border-radius: 0;
            background: none;
            margin-bottom: 0;
        }
        .card:hover{
            animation-name: cards;
            animation-duration: .8s;
            animation-iteration-count: 1;
            background-color: rgba(0,0,0,.9);
            color: rgb(209, 208, 208);
        }
        .services .fas{
            font-size: 70px;
            color: rgb(8, 176, 243);
            padding: 10px 0;
        }
        .footer .fas{
            font-size: 16;
            color: white;
            padding: 0 10px;
        }
        .shelf{
            min-height: 300px;
            border-radius: 4px;
        }
        .img-bg{           
            background-position: center;
            background-repeat: no-repeat;
            color: rgb(16, 1, 32);
            background-position: bottom;
            background-size: cover;
        }
        .who-weare{
            min-height: 300px;
        }
        .off-shelf{
            background-size: cover;
            background-repeat: no-repeat;
            padding-top: 40px;
            font-size: 14px;
            background-attachment: scroll;
            background-position: center;
            min-height: 300px;
        }
        .listed-items{
            padding-top: 10px;
            position: relative;
            min-height: 300px;
        }
        .card{
            background: none;
        }
        .navigation{
            position: fixed;
            background-color: rgb(248, 246, 246);
            top: 0;
            z-index: 1000;
            width: 100%;
        }
        .bg-green{
            position: fixed;
            background-color: rgb(251, 253, 252);
            width: 100%;
        }
        .fade-in{
            opacity: 0;
            transition: opacity 1000ms ease-in;
        }
        .fade-in.appear{
            opacity: 1;
        }

        /* Responsive: Control display and alignment propotionally to media screen sizes */
        @media (max-width:992px){            
            .listed-items{
                font-size: 12px;
                text-transform: capitalize;
            }
            .who-weare{
                font-size: 12px;
                min-height: 400px;
                padding: 10px;
            }
        }
        @media(max-width:769px){            
            .listed-items{
                font-size: 16px;
                text-transform: capitalize;
            }
            .info-section{
                padding-top: 50px;
            }
            .card{
                margin:20px 0;
            }
            .who-weare{
                font-size: 16;
                min-height: 400px;
            }
            .top .container .paragraph{
                width: 100%;
                margin:30px 0%;
            }
            .to-left h3{
                font-size: 16px;
            }
            .to-left{
                font-size: 13px;
                text-align: left;
            }
            .top .container .building h1{
                font-size: 25px;
            }
            .top .container{
                padding-top: 50px;
            }
            .info-section h1{
                font-size: 25px;
                padding: 0px 10px;
            }
            .info-section h5{
                padding: 0px 10px;
                margin-top: -100px;
            }
            .info-section p{
                padding: 0px 10px;
            }
        }


        @media(min-width:769px){
            .links{
                text-align: right;
            }
            .developing{
                font-size: 20px;
            }
        }

        /* Animation Functions */
        @keyframes slide_up {
            0%{
                transform: translateY(150px);
            }
            100%{
                transform: translateY(0px);
            }
        }
        @keyframes fades {
            0%{                
                opacity: 0;
            }
            25%{                
                opacity: .26;
            }
            50%{
                opacity: .5;

            }
            75%{
                opacity: .75;

            }
            100%{
                opacity: .9;

            }
        }

        /* Animation effects for services cards */
        @keyframes cards {
            0%{                
                background-color: rgba(0,0,0,.0);
                color: #000;
            }
            25%{               
                background-color: rgba(0,0,0,.25);
                color: rgb(121, 118, 118);
            }
            50%{
                background-color: rgba(0,0,0,.5);
                color: rgb(187, 184, 184);
            }
            75%{
                background-color: rgba(0,0,0,.75);
                color: rgb(221, 219, 219);
            }
            100%{
                background-color: rgba(0,0,0,.9);
                color: rgb(209, 208, 208);
            }
        }
        @keyframes backgrounds {
            0%{               
                background-image: url(../images/bg1.jpg);
            }
            50%{
                background-image: url(../images/bg2.jpg);
            }
            100%{
                background-image: url(../images/bg3.jpg);
            }
        }

