<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Breath IT | softwares and IT solutions</title>
    <link rel="stylesheet" href="../static/css/bootstrap.css">
    <link rel="stylesheet" href="../static/css/main.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Coda+Caption:wght@800&family=Orelega+One&family=Roboto:ital,wght@0,100;0,300;0,900;1,100;1,300;1,900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/9afece9275.js" crossorigin="anonymous"></script>
</head>
<body>
    <div class="Content">
        <div class="navigation shadow">
            <nav class="navbar navbar-light navbar-expand-md container">
                <a href="" class="navbar-brand"><img style="height: 4rem;"src="../static/images/Breath It - text.png" alt=""></a>
                <button class="navbar-toggler" data-target="#menu" type="button" data-toggle="collapse">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="menu">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item active"><a href="" class="nav-link">Home</a></li>
                        <li class="nav-item"><a href="" class="nav-link">Blogs</a></li>
                        <li class="nav-item"><a href="" class="nav-link">Acconts</a></li>
                    </ul>
                </div>
            </nav>      
        </div>     
        
        <!-- Begin of Introduction Section -->
        <div class="top mt-5">
            <div class="inner">
                <div class="container text-center">
                    <div class="solutions text-center">                        
                        <h6>WE MIND NOT ON THE MOST LIKELY SUGGESTIONS <br>BUT THE MOST OPTIMUM TECH SOLUTIONS.</h6>
                    </div>
                    <div class="building text-center">
                        <h1 class="text-light">THUS AIMING AT BUILDING SMART <br> TECH <br> BUSINESS SOLUTIONS</h1>
                    </div>
                    <div class="paragraph">
                        <p class="text-white text-center">And positively influencing <br> the impacts of <br> business intelligence and business automations <br> to realize business operations efficience, excellence and <br> proficiency</p>
                    </div>
                </div>
            </div>            
        </div>
        <!-- End of Introduction Section -->

        <!-- Begining of Serives Sections -->
        
        <div class="main-section text-center">
            <div class="container info-section pt-4">
                <h5 class="my-3 text-muted">About Us</h5>
                <div class="fade-in text-center py-5">
                    <h1>
                        Breath-IT is an ambitious <br> software development and design <br> firm. 
                    </h1>
                    <p class="py-3"> We are working hard to create <br> technological business solutions therefore enhancing  <br> business operations proficiency and <br> excellency</p>
                </div>
            </div>
            <div class="company-value">
                <div class="container">
                    <div class="row py-5">
                        <div class="col-md-5 text-center fade-in py-2">
                            <img width="300px" src="../static/images/company-values.png" alt="">
                        </div>
                        <div class="col-md-7  fade-in  py-5">                                                
                            <div class="py-5">
                                <h3>COMPANY VALUES</h3>
                                <p class="text-mutedmt-4">Breath-IT expert and tight-knit team of developers relies on technological knowledge and problem-solving capabileties to create and develop solutions for clients and businesses as a whole</p>
                            </div>
                        </div>
                    </div>
                    <div class="row py-5">
                        <div class="col-md-5 text-center fade-in">
                            <img height="200px" src="../static/images/problem_solutions.png" alt="">
                        </div>
                        <div class="col-md-7 fade-in">                                                
                            <div class="pt-5">
                                <h3>Finding Solution Approach</h3>
                                <p class="text-muted">Engaging business community and public to understand and emphathize with their needs guides the team to develop tech solutions based on facts rather than opinion.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="information img-bg my-5 py-5">
                <div class="container">
                    <div class="row p-2">
                        <div class="col-md-4  mx-0 who-weare"> 
                            <div class="text-center mb-2 fade-in">
                                <img class="" src="../static/images/Breat-IT---Logo2.png" alt="">
                            </div>                   
                            <div class="pt-1 fade-in">   
                                <h6><p class="mt-2 text-center">
                                    <small>Breath-IT possess a skilled pool of ambitious software developers <br> and designers working hard to create technology business solutions <br> to enhance business operations proficiency and excellency.</small>
                                </p></h6>
                            </div>
                        </div>
                        <div class="col-md-8 shelf">
                            <div class="row pl-0">
                                <div class="col-md-7 mx-0 px-0">
                                    <div class="text-center fade-in">
                                        <img height="150" src="../static/images/applications.png" alt="">
                                    </div>
                                    <div class="off-shelf fade-in my-5 text-center">
                                        <p>OFF THE SHELF</p>
                                        <p>SOFTWARES AND IT</p> 
                                        <p>SMART SOLUTIONS</p>
                                    <button class="btn btn-sm btn-outline-dark">VIEW ALL</button>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="fade-in text-center pt-4"> 
                                        <img height="140px" src="../static/images/saas.png" alt="">
                                    </div>
                                        <div class="fade-in pt-5">
                                            <p>SaaS TECHNOLOGIES</p>
                                            <p>MOBILE APPS DEVELOPMENT</p> 
                                            <p>IT SUPPORT AND CONSULTANCE</p>
                                        </div>   
                                        <button class="btn btn-outline-dark">Dev solutions</button>
                                    </div>
                                </div>
                            </div>
                        </div>                    
                    </div>                   
                </div>
            </div> 


            <!-- Begin of services section -->
            <div class="services">  
                <div class="container pb-5">             
                    <h1 class="text-muted my-5">Services</h1>
                    <div class="row py-5">
                        <div class="col-md-4">
                            <div class="card text-center">
                                <div class="card-body">
                                    <h5>Business Analytics</h5>
                                    <h5 class="card-title">
                                        <i class="fas fa-chart-line"></i>
                                    </h5>
                                    <p class="card-text">
                                        We develop software and IT solution to enhance business operations proficience and profitabilty.
                                    </p>
                                    <a href="" class="btn btn-primary">More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card text-center">
                                <div class="card-body">
                                    <h5>IT solutions</h5>
                                    <h5 class="card-title">
                                        <i class="fas fa-laptop"></i>
                                    </h5>
                                    <p class="card-text">
                                        We develop software and IT solution to enhance business operations proficience and profitabilty.
                                    </p>
                                    <a href="" class="btn btn-primary">More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="card text-center">
                                <div class="card-body">
                                    <h5>Software development</h5>
                                    <h5 class="card-title">
                                        <i class="fas fa-code"></i>
                                    </h5>
                                    <p class="card-text">
                                        We develop software and IT solution to enhance business operations proficience and profitabilty.
                                    </p>
                                    <a href="" class="btn btn-primary">More</a>
                                </div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div> 
            <!-- End of services section -->
        </div>
        <!-- End of main section -->

        <!-- Beginning of footer section -->
        <div class="footer bg-dark text-light">
            <div class="container pt-4">
                <img height="100px" class="my-5" src="../static/images/Breath It - text.png" alt="">
                <div class="row my-3">
                    <div class="col-md-3 py-4 to-left">          
                        <h2 class="developing">Developing Smart IT <br><span class="text-danger">Solutions</span> <br>For Business Support</h2>
                    </div>
                    <div class="col-md-3 py-4 to-left">
                        <h5>Learn More</h5>
                        <h3 class="my-3">About Us</h3>
                        <a href=""><span class="mt-2 text-white">More <i class="fas fa-arrow-right"></i></span>
                        </a>
                    </div>
                    <div class="col-md-3 py-4 to-left">                        
                        <h3>Contact Us</h3>
                        <p class="">
                            Let's Discuss Your Technological Business Needs
                        </p>
                        <br>
                        <button class="btn btn-outline-light" type="button" data-toggle="collapse" data-target="#contact_form">Contact us <i class="fas fa-mobile-alt"></i></button>
                        <form class="form my-3 collapse" id="contact_form" action="">
                            <div class="form-group">
                                <label for="email" class="form-control-label">Email</label>
                                <input type="email" name="" id="email" class="form-control">
                                <small class="text-muted">Email should be valid</small>
                            </div>
                            <div class="form-group">
                                <textarea name="" class="form-control" placeholder="Enter your message" id=""  rows="5"></textarea>
                            </div>
                            <div class="form-group">
                                <button class="btn btn-primary">Send <i class="fas fa-arrow-right"></i></button>
                            </div>
                        </form>
                    </div>  
                    <!-- Links -->
                    <div class="col-md-3 abouts py-4 to-left">                    
                        <h3>Quick Links</h3>
                        <a class="text-white" href=""><i class="fas fa-home"></i> Home</a><br>
                        <a class="text-white" href=""><i class="fas fa-address-card"></i> About us</a><br>
                        <a class="text-white" href=""><i class="fas fa-handshake"></i> Breath IT services</a><br>
                        <a class="text-white" href=""><i class="fas fa-hands"></i> Help and FAQS</a><br>                        
                        </p>
                    </div>
                </div>                               
                <div class="row border-top text-muted py-4">
                    <div class="col-md-6">
                        <h6 >BUILDING TECH SOLUTIONS</h6>
                    </div>
                    <div class="col-md-6">
                        <p class="text-muted">
                            &copy;<small>Copyright 2021 Breath-IT. All Rights Reserved.</small>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of footer section -->
    </div>
    <!-- End of content section -->
    <script src="../static/js/JQuery.js"></script>
    <script src="../static/js/bootstrap.js"></script>
    <script src="../static/js/application.js"></script>
</body>
</html>